@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

.container {
  margin: 20px;
}

/* Estilização para o input file */
.custom-file-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  position: relative;

  input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }

  .file-label {
    cursor: pointer;
    background-color: #f5f5f5;
    color: #2196f3;
    font-size: 17px;
    font-weight: 800;
    padding: 8px 16px;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: border-color 0.2s;

    &:hover {
      border-color: #2196f3;
    }

    &.file-selected {
      background-color: #2196f3;
      color: #fff;
      border-color: #2196f3;
    }
  }

  .file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 24px); /* Deixa espaço para o botão de limpar */
    padding-right: 8px;
  }

  button {
    margin-left: 8px;
    color: #757575;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;

    &:hover {
      color: #2196f3;
    }
  }
}

/* Estilização para a tabela */
.table-container {
  overflow-x: auto;
}

.mat-row.clickable {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 8px;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: left;
}

tr {
  border-bottom: 1px solid #e0e0e0;

  &:nth-child(even) {
    background-color: #f9f9f9;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}

/* Estilo para as células da tabela */
.mat-cell,
.mat-header-cell {
  padding: 8px 16px;
  text-align: left;
}

/* Estilo para as células do cabeçalho da tabela */
.mat-header-cell {
  font-weight: bold;
  background-color: #f5f5f5; /* Cor de fundo do cabeçalho */
}

/* Estilo para as linhas pares da tabela */
.mat-row:nth-child(even) {
  background-color: #f9f9f9; /* Cor de fundo das linhas pares */
}

button.mat-icon-button {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  border-radius: 50%;
  margin: 0;
  padding: 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}

/* Estilização para a modal */
.modal-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.modal-content {
  margin-bottom: 20px;
  font-size: 18px;
}

.modal-container {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.mat-button {
  background-color: #f44336;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: #d32f2f;
  }
}

.red {
  color: #d32f2f;
}

.green {
  color: green;
}

.black {
  color: black;
}

/* Estilização para o container do input */
.search-container {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
  width: 300px; /* Ajuste o tamanho conforme necessário */
}

/* Estilização para o input de pesquisa */
.search-input {
  border: none;
  background: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  flex: 1;
}

/* Estilização para o botão de pesquisa */
.search-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  color: #555;
}

/* Efeito de hover no botão de pesquisa */
.search-button:hover {
  color: #000;
}
